Container(style="position: relative")
  template(slot="header")
    div
      h1 Rate
  template(slot="body")
    div(style="width: 100%;text-align: center")
      img(:src="`data:image/jpeg;base64,${image}`" style="margin:auto;max-height: 300px; max-width: 100%")
    
    Rating(@rating_value="update_rating")

    table
      tr
        td(rowspan='2')
          p Pin Location
        td
          label(for="lat") latitude
        td
          input(name="lat" v-model="coords.lat" disabled)
        td(rowspan='2')
          button(style='height: 60px; width: 60px' @click="select_map = true")
            img(src='@/assets/icon/pin.svg' style='max-height: 100%; max-width: 100px')
      tr
        td
          label(for="lng") longitude
        td
          input(name="lng" v-model="coords.lng" disabled)
      tr
        td
          label(for="location") Location
        td(colspan='3')
            textarea(name="location" v-model="location_detail" rows="4")
      tr
        td
          label(for="tags") Tag
        td(colspan='3')
          input(name="tags" v-model="tags")
      tr
        td
          label(for="desc") Description
        td(colspan='3')
          textarea(name="desc" v-model="description" rows="4")
      tr
        td(colspan='4')
          button.sub_btn(@click="submit_form()") submit
    #the_map(v-if="select_map")
      button(style="background-color: white; color: black; width: 100%;text-align: center" @click='select_map = false') close map
      GmapMap.gmap_themap(
        :center="coords"
        :zoom="17"
        map-type-id="terrain"
        style="width: 100%; height: 60%"
        @click="setPlace"
      )
        GmapMarker(
          :position="google && new google.maps.LatLng(coords.lat, coords.lng)"
          :clickable="true"
          :draggable="true"
          @click="center=m.position"
        )
