.wrap
	p {{star}}
	.stars
		label.rate
			input#star1(type="radio" name="radio1" value="star1" @click="ui_update(1)")
			i#star_i_1.far.fa-star.star.one-star
		label.rate
			input#star2(type="radio" name="radio1" value="star2" @click="ui_update(2)")
			i#star_i_2.far.fa-star.star.two-star
		label.rate
			input#star3(type="radio" name="radio1" value="star3" @click="ui_update(3)")
			i#star_i_3.far.fa-star.star.three-star
		label.rate
			input#star4(type="radio" name="radio1" value="star4" @click="ui_update(4)")
			i#star_i_4.far.fa-star.star.four-star
		label.rate
			input#star5(type="radio" name="radio1" value="star5" @click="ui_update(5)")
			i#star_i_5.far.fa-star.star.five-star
