#login_form, #login_submit
  width: 95%
#login_submit
  width: 100%
  padding-top: 20px

label
  width: 20%
input, button
  border-radius: 10px
  padding: 10px
input
  background-color: rgba(255, 255, 255, .5)
button
  background-color: #64918D
  color: white

.table
  display: table
  WIDTH: 100%
  div
    display: table-row
    *
      display: table-cell

#shade
  position: absolute
  border-radius: 10px
  background: rgba(0, 0, 0, .5)
  color: white
  width: 100% !important
  height: 100%
  top: 0
  left: 0
  p
    text-align: center
