#body_container
	.header
		slot(name="header")
		button(@click="open_menu()" style="background-color:inherit;")
			img(src="@/assets/icon/menu.png")
	slot(name="body")
	#menu_container(:style="{display: show_menu ? 'block' : 'none'}")
		#menu
			#spacing(@click="close_menu()")
			#menu_list
				ul#fill
					li
						router-link(to="/")
							h5 Home
					li
						router-link(to="/rate")
							h5 Rate
					li
						router-link(to="/rewards")
							h5 Rewards
					li
						router-link(to="/claim_history")
							h5 Claimed
				#nofill
					hr
					button(@click="logout()" style="background-color: inherit;color: black") logout
